<div class="container">
    <h1>Datos de incidencia</h1>
    <mat-tab-group mat-align-tabs="end" >
        <mat-tab label="Informacion" >           
            <app-info [incidence]="incidence">
            </app-info>
        </mat-tab>
        <mat-tab label="Geo Refernciacion">
            <app-map [incidence]="incidence">
            </app-map>
        </mat-tab>
        <mat-tab label="Log de Incidencias">
            <app-logs></app-logs>
        </mat-tab>
        <mat-tab label="Historial">
        </mat-tab>
    </mat-tab-group>  
</div>