<link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
rel="stylesheet"/>

<div >
    <img src="../../../assets/SigepLogoXS.png" style="margin: 10%;">
</div>
<mat-nav-list>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon fontSet="material-icons-outlined">home</mat-icon>
        Home
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/oficios">
        <mat-icon fontSet="material-icons-outlined">search</mat-icon>
        Busqueda
    </a>
    <mat-divider></mat-divider>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/mi-perfil">
        <mat-icon fontSet="material-icons-outlined">person_outline</mat-icon>
        Mi perfil
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
        <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
        Ayuda
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
        Salir
    </a>
</mat-nav-list>