<div class="container">
    <h1>Home</h1>
    <h2 style="font-weight: bold;">Actividades Pendientes</h2>
    <mat-card *ngFor="let act of activities.slice(0,10);" style="padding: 25px; margin-bottom: 20px; max-height: 70px;"
        class="mat-elevation-z8">

        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15" style="font-weight: 600;">
            <div style="display: flex; flex-direction: row; align-items: baseline;">
                <div style="border-radius: 50%; width: 15px; height: 15px; background-color: red; margin-right: 10px;">
                </div>
                <div style="height: 30%; ">
                    <h3 style="font-weight: 600;"> {{ act }} - {{ act }} </h3>
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">

                        <h3>Oficio</h3>
                        <h3> -- Estado -- {{ act}} </h3>
                    </div>
                </div>
            </div>
            <div>
                <button mat-icon-button class="white-button" (click)="onSelect(bt)">
                    <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-icon-button class="whiteg-button" (click)="onSelect(bt)" style="margin-left: 10px;">
                    <mat-icon>map</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>