<form [formGroup]="casesForm" (ngSubmit)="onSubmit()" class="example-form" style="text-align: center;">

    <mat-card class="mat-elevation-z8" >
        <mat-card-content>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <mat-form-field  fxFlex="30">
                    <mat-label>Area</mat-label>
                    <mat-select  (selectionChange)="onSelectArea($event.value)">
                        <mat-option> Seleccione area</mat-option>
                        <mat-option *ngFor="let area of areas" [value]="area.id">
                            {{ area.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="30">
                    <mat-label>Origen</mat-label>
                    <mat-select (selectionChange)="onSelectSource($event.value)">
                        <mat-option> Seleccione origen</mat-option>
                        <mat-option *ngFor="let source of sources" [value]="source.id">
                            {{ source.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field  fxFlex="30">
                    <mat-label>Tipo</mat-label>
                    <mat-select (selectionChange)="onSelectType($event.value)">
                        <mat-option> Seleccione tipo</mat-option>
                        <mat-option *ngFor="let type of types" [value]="type.id">
                            {{ type.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                
                <mat-form-field fxFlex="30">
                    <mat-label>Calle</mat-label>
                    <mat-select (selectionChange)="onSelectStreet($event.value)">
                        <mat-option> Seleccione calle</mat-option>
                        <mat-option *ngFor="let street of streets" [value]="street.id">
                            {{ street.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="30">
                    <mat-label>Altura</mat-label>
                    <input matInput maxlength="6" placeholder="Ex. 94105" #data>
                </mat-form-field>

                <mat-form-field fxFlex="30">
                    <mat-label>Comuna</mat-label>
                    <mat-select >
                        <mat-option> Seleccione tipo</mat-option>
                        <mat-option *ngFor="let area of areas" [value]="area">
                            {{ area.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">

                <mat-form-field fxFlex="30">
                    <mat-label>Inspector</mat-label>
                    <mat-select (selectionChange)="onSelectUser($event.value)">
                        <mat-option> Seleccione Inspector</mat-option>
                        <mat-option *ngFor="let user of users" [value]="user.id">
                            {{ user.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="30">
                    <mat-label>Fecha Creacion</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field fxFlex="30">
                    <mat-label>Fecha Modificacion</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
            <br>
            <button mat-raised-button class="white-button" fxFlex="20">
                <span> Limpiar  </span>
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-raised-button class="light-button" fxFlex="20" (click)="onClick($event)">
                <span> Filtrar   </span>
                <mat-icon>filter_alt</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>