<div fxLayout="row" fxLayoutAlign="none" style="background-color: white;"> 
    <div fxFlex="70" > 
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapTypeId">

            <agm-marker [latitude]="lat"  [longitude]="lng" [agmFitBounds]="true">
              <agm-info-window>
                <h3>Estoy en el mapa</h3>
              </agm-info-window>    
             </agm-marker>
             <!-- <agm-polygon *ngFor="let polygon of polygons" [paths]="polygon"></agm-polygon> -->
          </agm-map>

          
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="30" style="padding: 12px;"> 
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15"> 
            <h3 fxFlex="60" style="font-weight: 600;">{{ incidence.street.name }}</h3>
            <h3 fxFlex="40" style="font-weight: 600;">{{ incidence.addressNumber }}</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15"> 
            <h3 fxFlex="40">Estado</h3>
            <h3 fxFlex="60">{{ incidence.addressNumber }}</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="start"  fxLayoutGap="15"> 
            <h3 fxFlex="40">Chapas validas</h3>
            <h3 fxFlex="60">{{ incidence.addressNumber }}</h3>
        </div>
    </div>
</div>