<div class="container">

    <h3>Actividades Pendientes</h3>
    <mat-card *ngFor="let bt of businessTasks.slice(0,10);" style="padding: 25px; margin-bottom: 20px;height: 70px;" class="mat-elevation-z8" >

        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15" style="font-weight: 600;">
            <h3 fxFlex="30"> {{ bt.id }} - {{ bt.name }} </h3>
            <h3 fxFlex="50"> -- Estado -- {{ bt.status}} </h3>

            <button mat-icon-button class="white-button" aria-label="Example icon button with a home icon" (click)="onSelect(bt)" >
                <mat-icon>open_in_new</mat-icon>
            </button>
        </div>

    </mat-card>
</div>