<div fxLayout="row" fxLayoutAlign="none" style="background-color: white; ">
    <div fxFlex="65">
        <app-images></app-images>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="35" style="padding: 12px; ">
        <div [ngSwitch]="option">
            <ng-template [ngSwitchCase]="'derive'">
                <app-derive 
                    [option]="option" 
                    [incidence]="incidence" 
                    [tareaId]="tareaId"
                    [key]="key"
                    [object]="object"
                    (valueResponse)=" option = $event">
                </app-derive>
            </ng-template>
            <ng-template [ngSwitchCase]="'confirm'">
                <app-confirm-info 
                    [option]="option" 
                    [incidence]="incidence" 
                    [tareaId]="tareaId"
                    [key]="key"
                    [object]="object"
                    (valueResponse)=" option = $event">
                </app-confirm-info>
            </ng-template>
            <ng-template ngSwitchDefault>
                <app-view-info 
                    [option]="option" 
                    [incidence]="incidence" 
                    (valueResponse)="option = $event" 
                    (valueTarea)="tareaId = $event"
                    (valueKey)="key = $event"
                    (valueObject)="object = $event">
                </app-view-info>
            </ng-template>
        </div>
    </div>
</div>